.venv/
__pycache__/
**/__pycache__/
*.pyc
.DS_Store
backend/.env
backend/annotator-judge/.env
backend/scripts/*.csv
backend/scripts/*.json
*.code-workspace
frontend/node_modules/
frontend/dist/
frontend/.env
server/node_modules/
